<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#000000">
<title>Html Page Demo</title>
  <style>
    main h1 {
      display: flex;
      justify-content: center;
    }
    table {
      font-family: Arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    a {
      text-decoration: none;
      color: blue;
    }
    a:hover {
      text-decoration: underline;
    }
    footer {
      margin-top: 15px;
      display: flex;
      justify-content: end;
    }
  </style>